<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <%=image_tag("logo.png",size: "125x40")%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <% if current_user.try(:admin?) %>
          
        <%end%>
      </ul>
      <div class="d-flex" role="search">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%if user_signed_in?%>
            <% if current_user.try(:admin?) %>
              
              <%= button_to "Sign out" , destroy_user_session_path, method: :delete ,class:"btn btn-primary"%>
            <%else%>
            
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </button>
                <ul class="dropdown-menu dropdown-menu-primary">
                 
                  <li class="dropdown-item "><%=link_to "Update Profile",edit_user_registration_path,class:"btn btn-outline-primary"%></li>
                 <li class="dropdown-item "><%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete ,class:"btn btn-outline-primary"%></li>
                </ul>
              </div>
              <%= button_to "Sign out" , destroy_user_session_path, method: :delete ,class:"btn btn-primary"%>
            <%end%>
          <%else%>
            <%= button_to "Sign in" , new_user_session_path, class:"btn btn-primary" %>
            <%= link_to "Sign up" , new_user_registration_path ,class:"btn btn-primary"%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</nav>
